<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag ("https://res.cloudinary.com/dnnfzdn9e/image/upload/v1615327579/Pastry%20Project/Logo_i8gkm7.png") %>
    <% end %>

    <!-- <div class= "lienbarre"> -->
      <!-- <a href="#"> About us </a> -->
      <p> About us </p>
      <p> Find us </p>
      <p> contact </p>
    <!-- </div> -->

    <div class= "reseaux">
    <a href="#"><img src="https://res.cloudinary.com/dkqxfdutt/image/upload/v1613817730/001-facebook_w85daw.png"></a>
    <a href="#" ><img src="https://res.cloudinary.com/dkqxfdutt/image/upload/v1613817748/002-twitter_ae0dlx.png"></a>
    <a href="#"><img src="https://res.cloudinary.com/dkqxfdutt/image/upload/v1613818564/001-instagram_tba9ds.png"></a>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="userimage">
         <%= image_tag ("https://res.cloudinary.com/dnnfzdn9e/image/upload/v1615330861/Pastry%20Project/User_nay7rk.png") %>
        </li>
        <li class="nav-item mt-2 text-success">
         <strong> <%= current_user.email %> </strong>
        </li>
        <li class="nav-item">
         <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-success" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
